.About-sec {
    /* height: 100vh; */
    width: 95%;
    padding: 50px 0px;
    /* background-color: blueviolet; */
    margin: 0 auto;
}

.heading {
    width: 100%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 0px;
    text-align: center;
}

.left-section {
    height: 26rem;
    height: 67vh;
    
    width: 30%;
    /* margin-top: 20px; */
    /* border: 2px solid black; */
    /* height: 20rem; */
    border-radius: 20px;
    background: rgb(235, 228, 228);
    padding: 60px 0px;
}
.left-section h1{
    font-weight: 500;
    padding: 30px 10px;
}
.left-section p{
    padding: 30px 0px;
    font-size: clamp(1rem , 2vw ,1.1rem);
    font-weight: 200;
}
.buttonwithContent{
    display: flex;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;    

}
.left-section button{
    background-color: rgb(245, 235, 235);
    padding: 13px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    gap: 10px;
    border-radius: 10px;
    border: none;
    transition: 2s ease;
    text-align: center;
    transition: 2s ease-in;
    cursor: pointer;
}
button img{
        transition: 0.6s ease;
}
.left-section button:hover img{
    rotate: 45deg;
}

.left-section button h3{
    font-size: clamp(0.5rem , 1vw, 1rem);
    text-align: center;
    color: rgb(12, 12, 12);
    font-weight: 300;
}
.right-section {
    width: 65%;
    /* height: 30rem; */
    /* border: 2px solid black; */
    overflow: hidden;
    border-radius: 20px;
    position: relative;
}
.right-section img{
    width: 100%;
    height: auto;
    object-fit: contain;
    color: wheat;
    transition: 0.9s ease ;
    border-radius: 20px;

}
.overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0 ;
    
    left: 0;
    background-color: black;
    z-index: 0;
}
.right-section:hover img{
    transform: scale(1.1);
}
@media screen and (max-width:900px) {
.section{
    width: 100%;
    display: block;
}
.left-section{
    width: 100%;
    /* margin: 0 auto; */
    height: auto;
}
.left-section h1{
    margin: 0;
    padding: 0;
}
.left-section .buttonwithContent{
    width: 100%;
    /* background: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-section{
    width: 100%;
    margin-top: 10px;
}
}