@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poltawski+Nowy:ital,wght@0,400..700;1,400..700&family=Poppins&family=UnifrakturMaguntia&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  text-decoration: none;
  list-style: none;


}

body {
  overflow-x: hidden;
  /* Prevent horizontal scrolling */
}

.Top-header {
  /* height: 5vh; */
  width: 100%;
  /* background-color: pink; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  margin: 0 auto;
  overflow: hidden;
}

.marquee {
  /* width: 90%; */
  flex-shrink: 0;
  animation: loops 9s linear infinite both;


}

@keyframes loops {
  from {
    transform: translateX(100px);
  }

  to {


    transform: translateX(-100px);
  }

}

.marquee h2 {
  padding: 0.6vw;
  color: white;
  font-weight: 100;
  font-size: clamp(0.9rem, 1vw, 1rem);

}

/* hero section  */

.hero-sec {

  width: 100%;
  /* padding: 10px; */
  margin: 0 auto;
  position: relative;
}

.hero-content {
  width: 95%;
  margin: 30px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.left-sec {
  /* border: 2px solid black;  */
  width: 49vw;
  height: 30rem;
  border-radius: 30px;
  overflow: hidden;
}

.left-sec img,
.right-sec img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.left-sec .content {
  position: absolute;
  top: 120px;
  left: 50px;
  width: 60%;
  padding: 20px;
  background-color: white;
  padding: 50px 20px;
  border-radius: 30px;
}

.content h1 {
  font-size: clamp(1rem, 3vw, 3rem);
  font-weight: 400;
}

.content h5 {
  font-size: clamp(0.9rem, 1vw, 1rem);
  font-weight: 200;
  padding: 20px 0px;
}

.content img {
  width: 1rem;
  transition: 0.6s ease;
  /* background-color: pink; */
  text-align: center;
  margin-bottom: -4px;
}

.content :hover img {
  rotate: 50deg;
}

.content button {
  border: none;
  cursor: pointer;
  background: white;
  padding: 10px 2px;
  font-size: 1rem;

  border-bottom: 1px solid black;
}

.right-sec {
  /* border: 2px solid black; */
  width: 49vw;
  height: 30rem;
  border-radius: 30px;
  overflow: hidden;
}

.content2 {
  position: absolute;
  top: 110px;
  height: 18rem;
  left: 200px;
  width: 40%;
  padding: 20px;
  overflow: hidden;
  background-color: rgb(230, 221, 221);
  /* padding: 50px 20px; */
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.content2 img {
  object-fit: cover;
  width: 170PX;
  /* margin-top: 50px; */
  height: 200px;
  /* aspect-ratio: 1/1; */
  /* height: auto; */
  display: inline-block;
  vertical-align: middle;
}

.notch {
  padding: 10px 0px;
  background: white;
  border-radius: 0px 0px 20px 20px;
  width: 8rem;
  text-align: center;
  position: absolute;
  top: -5px;
  left: 25%;
}

.notch h2 {
  font-size: 0.9rem;
  font-weight: 400;
}

.discount {
  padding: 10px;
  background-color: black;
  color: white;
  font-size: 0.9rem;
  position: absolute;
  left: 18px;
  top: 17rem;
  border-radius: 10px;


}

.discount h4 {
  font-weight: 300;
}

nav {
  position: absolute;
  top: 50px;
  left: 30vw;
  padding: 5px;
  background-color: white;
  box-shadow: 10px;
  width: 45%;
  border-radius: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.link ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  gap: 2vw;
  color: black;
  padding: 5px;
}

.link ul li:active,
:focus {
  border-bottom: 2px solid black;
}

a.active {
  color: black;
  /* font-weight: bold; */
  border-bottom: 2px solid black;
}

a {
  color: black;
}

.active{
  display: block;
}
.remove{
  display: none;
}

#menu {
  display: none;
}

.dropdown {
  display: none;
  position: absolute;
  width: 100%;
  background-color: white;
  height: 15rem;
  left: 0;
  top: 45px;
  border-radius: 20px;
  padding: 30px;
  /* display: flex; */
  justify-content: space-between;
  align-items: flex-start;
  transition: 2s ease;
  gap: 40px;
  z-index: 999;
}

.menu-col h2 {
  margin-bottom: 10px;
  font-weight: 400;

}
.magic-box{
   cursor: pointer;

}
.dropdown {
  display: none;
  opacity: 0;
  transition: 0.3s ease;
  /* cursor: pointer; */
}

.dropdown.active {
  display: flex;
  opacity: 1;
}

.dropdown.remove {
  display: none;
  opacity: 0;
}

@media screen and (max-width:950px) {
    .hero-sec{
    height: auto;
  }
  nav {
    width: 70%;
    left: 15vw;
    top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  nav .link ul {
    display: none;
  }

  #menu {
    display: flex;
  }

  #cart {
    display: none;
  }

  .left-sec {
    width: 100%;
    /* background-image: url('./assets//resp.png'); */
  }

  .left-sec .content {
    top: 35%;
    left: 20px;
    width: 50%;
    height: auto;
    /* padding: 20px; */
    /* background-color: tr; */

    /* background-color: pink; */
  }

  .right-sec {
    display: none;
  }
nav .link{
  width: 100%;
  border-radius: 20px;
  display: none;
  flex-direction: column;
  background-color: rgb(214, 211, 211);
  position: absolute;
  top: 50px;
  /* height: 20rem; */
   /* display: flex; */
  justify-content: space-between;
  align-items: flex-start;
  transition: 2s ease;
  gap: 40px;
  z-index: 999;align-items:first baseline;
  

}
nav .link ul  {
  color: white ;
  display: block;
  
  padding: 20px;
}
nav .link ul li a{
  display: block;
  color: rgb(85, 61, 18);
  padding: 20px 0px;
  border: none;align-items: center;
}
nav #menu:hover ~ .link {
  display: flex;
}
}
