*::selection{
    color: black;
    background-color: wheat;
}
.Categories-section {
    /* height: 100vh; */
    width: 100%;
    padding: 50px 0px;
    margin: 0 auto;
    /* background-color: pink; */
}

.heading {
    width: 90%;
    padding: 30px 0px;
    margin: 0 auto;
    border-radius: 30px;
    background-color: whitesmoke;
    text-align: center;

}
.heading h1{
       font-weight: 400;
}

.sofa-container {
    /* height: 100vh; */
    width: 95vw;
    margin: 10px auto;
    /* background-color: aqua; */
    border-radius: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 4 items per row */
    grid-template-rows: repeat(2, auto);
    /* 2 rows */
    gap: 10px;
    /* spacing between items */
    

}

.box {
    /* width: auto; */
    /* border: 2px solid black; */
    background: #d7d7d7;
    padding: 20px;
    text-align: center;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
            display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        cursor: pointer;
}
.notch{
        left: 90px;
        border-radius: 0px 0px 20px 20px;
}   
.box img{
    object-fit: cover;
    width: 80%;
    vertical-align: middle;
    height: auto;
  
}
.box:hover #pic {
    filter: blur(4px);
  transform: scale(1.1);
  transition: transform 1s ease; /* smooth animation */
}
.arrow-icon {
  position: absolute;
  pointer-events: none;
  transition: transform 0.1s ease;
  font-size: 24px;
  color: #333;
  display: none;
  
}

/* .box:hover{
    filter: brightness(50%);
} */
.box:hover .arrow-icon{
    display: block;
    /* color: white;
    filter: brightness(100%); */
}
.arrow-icon{
    width: 2rem;
    padding: 20px;
    border-radius: 50%;
    border: 2px solid rgb(255, 243, 243);
    /* background-color: pink; */
    text-align: center;
    
}
@media screen and (max-width:950px) {
    .heading{
        /* width: 100vw; */
        margin: 0 auto;
        /* padding: 0; */
    }
      .sofa-container {
        width: 95%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3 , auto);
      }  


}
@media screen and (max-width:500px) {
       .sofa-container {
        width: 95%;
        height: auto;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }  
      .box{
        width: 100%;
        margin: 0 auto;
      }
      .notch{
        left: 12rem;
      }


}